body {
	background-color:#01cdfe;
	color:#fac0aa;
	font-size:200%
}

#header{
	font-family:Monoton;
	font-size: 300%;
	text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-family: 'Raleway', sans-serif;
}
li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
li:before {
	
    content: "\03BB";
}
a:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.link line {
  stroke: #696969;
}

.link line.separator {
  stroke: #01cdfe;
  stroke-width: 2px;
}

.node circle {
  stroke: #000;
  stroke-width: 1.5px;
  fill: #fe80fe;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
